@import "../../shared/stylesheets/variables";

.navbar {
  i {
    &:hover {
      color: $sand-orange;
    }
  }
  .nav-link {
    font-weight: $medium-heavy;
    &:hover {
      background: $sand-orange;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .float-right {
      display: flex;
      margin-left: 35%;
    }
  }
}
